<a href="https://colab.research.google.com/github/yonseimath/data-science-2022-biginner/blob/feature%2Fjeahyuk/jaehyuk/hongong_fish_data_0421.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import os

In [4]:
os.environ['KAGGLE_USERNAME'] ='leejeahyuk'
os.environ['KAGGLE_KEY'] ='909dc28f843ffc03b80b5291757fd8f0'

In [5]:
!kaggle datasets download -d aungpyaeap/fish-market
!unzip '*.zip'

Downloading fish-market.zip to /content
  0% 0.00/2.39k [00:00<?, ?B/s]
100% 2.39k/2.39k [00:00<00:00, 1.13MB/s]
Archive:  fish-market.zip
  inflating: Fish.csv

In [6]:
!ls

Fish.csv  fish-market.zip  sample_data

In [7]:
df = pd.read_csv('Fish.csv')

# 도미와 빙어 데이터를 0과 1로 치환

In [66]:
df['Species_value'] = df['Species'].map(dict(Bream=0, Roach=6, Whitefish=2, Parkki=3, Perch=4 , Pike=5, Smelt=1))

# 도미와 빙어 데이터만 추출

In [71]:
# condition1 : Perch,Smelt
  condition1 =  (df.Species =='Smelt')|(df.Species =='Bream')

In [72]:
df.test1=df.loc[condition1]

In [73]:
df.test1.head()

  Species  Weight  Length1  Length2  Length3   Height   Width  Species_value
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200              0
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056              0
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961              0
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555              0
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340              0

In [115]:
df.test1["Species_value"].astype(float)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      0.0
8      0.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     0.0
20     0.0
21     0.0
22     0.0
23     0.0
24     0.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
30     0.0
31     0.0
32     0.0
33     0.0
34     0.0
145    1.0
146    1.0
147    1.0
148    1.0
149    1.0
150    1.0
151    1.0
152    1.0
153    1.0
154    1.0
155    1.0
156    1.0
157    1.0
158    1.0
Name: Species_value, dtype: float64

In [116]:
df.test1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 0 to 158
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Species        49 non-null     object
 1   Weight         49 non-null     float64
 2   Length1        49 non-null     float64
 3   Length2        49 non-null     float64
 4   Length3        49 non-null     float64
 5   Height         49 non-null     float64
 6   Width          49 non-null     float64
 7   Species_value  49 non-null     int64
dtypes: float64(6), int64(1), object(1)
memory usage: 3.4+ KB

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Species        159 non-null    object
 1   Weight         159 non-null    float64
 2   Length1        159 non-null    float64
 3   Length2        159 non-null    float64
 4   Length3        159 non-null    float64
 5   Height         159 non-null    float64
 6   Width          159 non-null    float64
 7   Species_value  159 non-null    int64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

# 훈련

In [102]:
#X_num = df.test1[['Weight','Length1','Length2','Length3','Height','Width']]
X_num = df.test1[['Weight','Length1']]
y= df.test1['Species_value']

In [103]:
from sklearn.preprocessing import StandardScaler

In [104]:
# StandardScaler의 transform을 사용하여 scaling
scaler = StandardScaler()
scaler.fit(X_num)
X_scaled = scaler.transform(X_num)
X_scaled = pd.DataFrame(data=X_scaled,index=X_num.index, columns=X_num.columns)
X=X_scaled
X.head()

     Weight   Length1
0 -0.623504 -0.182124
1 -0.475710 -0.094526
2 -0.321759 -0.105475
3 -0.250941  0.157319
4 -0.044646  0.179219

In [105]:
from sklearn.model_selection import train_test_split

In [106]:
train_input, test_input, train_target, test_target  = train_test_split(X, y, test_size=0.3, random_state=42)

In [128]:
print(len(train_input))
print(len(test_input))
print(len(train_target))
print(len(test_target))

34
15
34
15

In [137]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit =(train_input,train_target)

# 스코어 확인 안됨
 This KNeighborsClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.
 fit이 안된다는듯

In [126]:
knn.score(test_input, test_target)

NotFittedError: ignored

In [135]:
from sklearn.linear_model import LogisticRegression
model_lr = LogisticRegression(max_iter=1000)
model_lr.fit(train_input, train_target)

LogisticRegression(max_iter=1000)

In [136]:
model_lr.score(test_input, test_target)

1.0

In [130]:
from sklearn.metrics import classification_report

In [133]:
pred = model_lr.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       1.00      1.00      1.00         3

    accuracy                           1.00        15
   macro avg       1.00      1.00      1.00        15
weighted avg       1.00      1.00      1.00        15